name: tests
on:
  push:
  schedule:
    - cron: "0 0 * * 0" # weekly

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, '3.10']
      fail-fast: false
    name: tests
    steps:
      - uses: actions/checkout@v2
      - name: Install Python 3
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install git+https://github.com/LabForComputationalVision/plenoptic.git@main
          pip install pytest
      - name: Run tests with pytest
        run: 'pytest tests/test_pooling.py'
